@page
@model ErrorModel
@{
    ViewData["Title"] = "";
}

<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">Podczas przetwarzania żądania wystąpił błąd.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID żądania:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Tryb diagnostyczny</h3>
<p>
    Zmiana do <strong>diagnostyki</strong> środowisku wyświetli bardziej szczegółowe informacje o błędzie, który wystąpił.
</p>
<p>
    <strong>Środowisko diagnostyczne nie powinno być włączone we wdrożonych aplikacjach</strong>, ponieważ może to spowodować wyświetlenie użytkownikom końcowym wrażliwych informacji dotyczących wyjątków. W przypadku lokalnego debugowania środowisko programistyczne można włączyć, ustawiając opcję <strong>ASPNETCORE_ENVIRONMENT</strong> zmienną środowiskową na  <strong>diagnostykę</strong>, i ponowne uruchomienie aplikacji..
</p>
