<div style="height:80vh;background-image:url(https://w0.peakpx.com/wallpaper/79/468/HD-wallpaper-gigachad.jpg); background-size:cover; background-repeat: no-repeat; background-position: top;">
@{
    ViewData["Title"] = "";
}
    <div style="text-align: center;">
        <marquee width="800px" behavior="alternate"><img src="https://i.imgur.com/7UGPOr0.gif" /></marquee>
    </div>


<div style="display:flex; justify-content: space-between;">
<a class="nav-link text-dark" asp-area="" asp-controller="Klasa" asp-action="Index"><button type="button" class="btn btn-danger">Lista klas</button></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Skarbnik" asp-action="Index"><button type="button" class="btn btn-danger">Lista skarbników</button></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Uczen" asp-action="Index"><button type="button" class="btn btn-danger">Lista uczniów</button></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="ZbiorkaUczen" asp-action="Index"><button type="button" class="btn btn-danger">Zbiórki - płatności</button></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Zbiorka" asp-action="Create"><button type="button" class="btn btn-danger">Utwórz zbiórkę</button></a>
</div>
</div>
   