@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 style="font-weight: 600; letter-spacing:5px; font-size:50px">System skarbnika</h1>
        <img style="height: 72vh;" src="https://thumbs.dreamstime.com/b/-emoticon-homeless-beggar-emoticon-begging-money-141585055.jpg"/>
    </div>

    

